<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TextFormatterReplacements" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <TextFormatterReplacements>
    <add key="⋅" value="\cdot "/>
  </TextFormatterReplacements>
</configuration>